:root {
  --overlay-color: rgba(255, 255, 255, 0.2);
  --accent-color: #844790;
  --connector-color: #F3AEAC;
  --edge-color: #A9ACF9;
  --button-color: #F1F1F1;
  --button-active-color: #E0E0E0;
  --button-border-color: #333;
  --menu-background-color: #f1f1f1;
  --menu-text-color: #333;
  --menu-hover-color: #ECECEC;
  --menu-hover-text-color: #000;
  --card-color: #f5f5f5;
  --card-hover-color: #f0f0f0;
  --shadow-color: #555;
  --border-color: #ddd;
  --grid-dot-color: #999;
}

@media (prefers-color-scheme: dark) {
  :root {
    --overlay-color: rgba(0, 0, 0, 0.2);
    --accent-color: #844790;
    --connector-color: #F3AEAC;
    --edge-color: #797ded;
    --menu-background-color: #333;
    --menu-text-color: #eee;
    --menu-hover-color: #444;
    --menu-hover-text-color: #fff;
    --card-color: #ddd;
    --border-color: #444;
    --grid-dot-color: #000;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
  overscroll-behavior: none;
  color: #111;
  user-select: none;
  width: 100vw;
  height: 100vh;
}

html {
  background-color: transparent;
  overflow: hidden;
}

body {
  overflow: auto;
}

* {
  box-sizing: border-box;
}

.Board {
  position: relative;
  z-index: 1;
  background-image: radial-gradient(circle, var(--grid-dot-color) 1px, transparent 1px);
  background-size: 20px 20px;
  background-color: var(--overlay-color);
}

.Board > svg {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.Board_locked,
.Board_locked > svg path {
  pointer-events: none;
}

.Board_locked a {
  pointer-events: auto;
}

.Board_locked .ColorPicker {
  display: none;
}

.Sidebar_locked .Sidebar_button::before {
  content: '🔒';
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 12px;
  background: var(--button-color);
  border: 1px solid var(--button-border-color);
  border-radius: 50%;
  padding: 2px;
  width: 16px;
  height: 16px;
}

.DraggableNode {
  position: absolute;
  z-index: 3;
}

.DraggableNode_selected .Card {
  outline: 2px solid var(--accent-color);
}

.Card {
  border: 1px solid var(--border-color);
  border-radius: 6px;
  background-color: var(--card-color);
}

.DraggableNode_content {
  transition: transform 0.2s;
}

.DraggableNode_background {
  opacity: 0.5;
  z-index: 2;
}

.DraggableNode:not(.DraggableNode_background) .DraggableNode_content:hover {
  transform: scale(1.02);
}

@keyframes wobble {
  0% {
    transform: scale(1.02) rotate(0deg);
  }
  25% {
    transform: scale(1.02) rotate(-0.5deg);
  }
  50% {
    transform: scale(1.02) rotate(0deg);
  }
  75% {
    transform: scale(1.02) rotate(0.5deg);
  }
}

.DraggableNode:not(.DraggableNode_background) .DraggableNode_content:active {
  animation: wobble 0.5s 0.2s infinite;
}

.Editable {
  min-width: 70px;
  min-height: 32px;
  border-radius: inherit;
  padding: 8px;
  overflow: auto;
  outline: none;
}

.Editable:focus {
  outline: none;
}

.Editable h1,
.Editable h2,
.Editable h3,
.Editable h4,
.Editable h5 {
  margin: 0.5em 0;
  font-optical-sizing: auto;
}

.Editable h1 + br,
.Editable h2 + br,
.Editable h3 + br,
.Editable h4 + br,
.Editable h5 + br {
  display: none;
}

.Editable *:first-child {
  margin-top: 0;
}

.Editable *:last-child {
  margin-bottom: 0;
}

.Editable ol,
.Editable ul {
  padding-left: 1.2em;
}

.Editable img {
  display: block;
  width: 100%;
  height: auto;
  pointer-events: none;
  border-radius: inherit;
}

.Editable a {
  color: var(--edge-color);
  text-decoration: underline;
}

.Edge line,
.Edge path {
  stroke: var(--edge-color);
  stroke-width: 4;
  fill: none;
  pointer-events: all;
  cursor: pointer;
}

.Edge line:hover,
.Edge path:hover {
  stroke: var(--accent-color);
  stroke-width: 6;
}

.Edge circle {
  fill: var(--connector-color);
}

.Connector {
  position: absolute;
  z-index: 3;
  left: 100%;
  top: 50%;
  margin-top: -8px;
  margin-left: -8px;
  border-radius: 50%;
  border: none;
  background-color: var(--connector-color);
  width: 16px;
  height: 16px;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s, opacity 0.2s;
  opacity: 0;
}

.Connector:hover {
  transform: scale(1.2);
}

.DraggableNode:hover .Connector {
  opacity: 1;
}

.Resizer {
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 0;
  user-select: none;
  width: 100%;
  height: 4px;
  cursor: ns-resize;
}

.Resizer:after {
  content: '';
  display: block;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, var(--border-color) 50%, var(--border-color) 100%);
  width: 10px;
  height: 10px;
  position: absolute;
  z-index: 1;
  bottom: 2px;
  right: 2px;
  cursor: nwse-resize;
  border-radius: 0 0 4px 0;
}

.Sidebar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
  height: 100vh;
  display: flex;
}

.Sidebar input {
  background: var(--button-color);
  border: 1px solid var(--button-border-color);
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 16px;
  display: block;
}

.Sidebar button {
  background: var(--button-color);
  border: 1px solid var(--button-border-color);
  border-radius: 8px;
  padding: 0.5em 1em;
  font-size: 18px;
  cursor: pointer;
}

.Sidebar button[disabled] {
  cursor: not-allowed;
}

.Sidebar button:not([disabled]):hover {
  background: var(--menu-hover-color);
  color: var(--menu-hover-text-color);
}

.Sidebar button:not([disabled]):active {
  background: var(--button-active-color);
}

button.Sidebar_button {
  width: 40px;
  height: 40px;
  padding: 6px;
  margin: 10px;
  transition: transform 0.2s;
}

.Sidebar_button img {
  display: block;
  width: 100%;
  height: auto;
}

.Sidebar_buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 10px 20px;
}

.LockButton {
  background: var(--button-color);
  border: 1px solid var(--button-border-color);
  border-radius: 8px;
  padding: 0.5em 1em;
  cursor: pointer;
  font-size: 18px;
}

.Sidebar_drawer {
  background: var(--menu-background-color);
  color: var(--menu-text-color);
  width: 300px;
  height: 100vh;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  transition: transform 0.2s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 10px;
}

.Sidebar h1 {
  margin: 18px 20px 10px;
}

.Sidebar hr {
  margin: 0;
  padding: 0;
  border: none;
  border-top: 1px solid var(--border-color);
}

.Sidebar ul {
  padding: 0 10px;
  margin: 0;
  list-style: none;
}

.Sidebar li {
  margin: 0;
  padding: 0;
}

.Sidebar li a {
  display: block;
  padding: 10px;
  color: var(--menu-text-color);
  text-decoration: none;
  border-radius: 6px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.Sidebar li a:hover {
  background: var(--menu-hover-color);
  color: var(--menu-hover-text-color);
}

.Sidebar_links {
  flex: 1;
  overflow: auto;
  padding: 0;
}

.SelectionBox {
  position: absolute;
  z-index: 3;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.SelectionBox div {
  position: absolute;
  z-index: 3;
  background-color: rgba(100, 0, 100, 0.1);
  user-select: none;
  border-radius: 4px;
}

.ColorPicker {
  cursor: pointer;
  width: 50px;
  height: 20px;
  padding: 0;
  border: none;
}

.DraggableNode .ColorPicker {
  position: absolute;
  top: -2px;
  right: 0;
  transform: translate(0, -100%);
  opacity: 0;
  transition: opacity 0.2s;
}

.DraggableNode:hover .ColorPicker {
  opacity: 1;
}

.Board > .ColorPicker {
  z-index: 10;
  position: fixed;
  top: auto;
  left: auto;
  bottom: 10px;
  right: 10px;
  width: 70px;
  height: 30px;
}

.Drop__dragover {
  background: rgba(100, 0, 100, 0.1);
}
