:root {
  --background-color: #fff;
  --text-color: #333;
  --secondary-text-color: #555;
  --link-color: #A52A2A;
  --link-hover-color: #CD5C5C;
  --hover-color: #aaf;
  --point-color: #faa;
  --panel-color: #eee;
  --panel-hover-color: #dddeee;
  --edge-color: #aaf;
  --edge-hover-color: #f00;
  --border-color: #D4D4D4;
  --textarea-color: #fff;
  --text-dim-color: #aaa;
  --text-node-color: #000;
  --shadow-color: #555;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #999;
    --text-color: #fff;
    --secondary-text-color: #999;
    --hover-color: #aaf;
    --point-color: #faa;
    --panel-color: #444;
    --panel-hover-color: #555;
    --edge-color: #444;
    --edge-hover-color: #aaf;
    --border-color: #555;
    --textarea-color: #656565;
    --text-dim-color: #aaa;
    --text-node-color: #000;
    --shadow-color: transparent;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

#app {
  height: 100vh;
  width: 100vw;
}

.node {
  position: absolute;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: border-color 0.2s;
  color: var(--text-node-color);
  box-shadow: 1px 1px 1px var(--shadow-color);
  cursor: auto;
}

.node:hover {
  border-color: var(--hover-color);
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0.5deg);
  }
}

.node:active {
  animation: tilt 0.15s alternate;
}

.node iframe {
  width: 100%;
  height: 100%;
  border: none;
  max-width: 30vw;
  max-height: 80vh;
}

.node button {
  margin-left: -8px;
  border: none;
  background-color: var(--point-color);
  transition: background-color 0.2s;
  cursor: pointer;
}

.node button:hover {
  background-color: var(--hover-color);
}

.node [contenteditable] {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.locked .resize-handle {
  display: none;
}

.resize-handle:after,
.resize-handle div {
  position: absolute;
  z-index: 3;
}

.resize-handle:after {
  content: '';
  z-index: 4;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #999 50%, #999 100%);
  cursor: nwse-resize;
  border-radius: 0 0 2px 0;
}

/* Bottom line */
.resize-handle div:nth-child(1) {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 10px;
  cursor: ns-resize;
}

/* Right line */
.resize-handle div:nth-child(2) {
  top: 0;
  right: -1px;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}

.node input[type="color"] {
  position: absolute;
  z-index: 3;
  top: -25px;
  right: 0;
  opacity: 0;
  transition: opacity 0.2s;
}

@media (min-width: 600px) {
  .node input[type="color"] {
    width: 50px;
    height: 20px;
    padding: 0;
    border: none;
  }
}

.node:hover input[type="color"] {
  opacity: 1;
}

.locked .node input[type="color"] {
  display: none;
}

.locked .node button {
  pointer-events: none;
}

svg {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

path {
  fill: none;
  stroke-width: 4px;
  pointer-events: all;
  cursor: pointer;
  opacity: 0.9;
  transition: stroke 0.2s;
  stroke: var(--edge-color);
}

path:hover {
  stroke: var(--edge-hover-color);
}

.locked path {
  pointer-events: none;
}

.drop {
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.pan {
  position: relative;
  width: 3000px;
  height: 3000px;
  background-size: 30px 30px;
  background-image: radial-gradient(circle, var(--border-color) 1px, transparent 1px);
  cursor: crosshair;
}

.pan.focused {
  cursor: auto;
}

.sidebar {
  position: fixed;
  z-index: 10;
  right: 0;
  top: 0;
  width: 300px;
  height: 100vh;
  background-color: var(--panel-color);
  padding: 0 20px;
  padding-left: 30px;
  overflow-y: auto;
  transition: left .3s;
  --sidebar-toggle-width: 10px;
}

.sidebar.collapsed {
  right: -289px;
}

.sidebar.collapsed:hover {
  transform: translateX(4px)
}

.sidebar .flex {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 45px;
  min-height: 100%;
}

.sidebar details {
  border-top: 1px solid var(--border-color);
  padding-top: 22px;
  margin-top: -22px;
}

.sidebar .toggle-sidebar {
  position: absolute;
  z-index: 4;
  left: -30px;
  top: 0;
  bottom: 0;
  width: var(--sidebar-toggle-width);
  border: none;
  padding: 0;
  background-color: var(--panel-hover-color);
  transition: background-color 0.2s;
  border-left: 1px solid var(--border-color);
  box-sizing: content-box;
  cursor: e-resize;
}

.sidebar.collapsed .toggle-sidebar {
  cursor: w-resize;
}

.sidebar .toggle-sidebar:hover {
  background-color: var(--hover-color);
}

.sidebar h1 {
  color: #172A35;
  --outline-color: #fff;
  text-shadow: 2px 2px var(--outline-color), -2px -2px var(--outline-color), 2px -2px var(--outline-color), -2px 2px var(--outline-color);
  padding: 10px 0 0;
  display: flex;
  align-items: center;
  margin: 0 -8px;
  gap: 8px;
  line-height: 29px;
  padding-left: 10px;
}

.sidebar h1:after {
  flex: 1;
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: url('/images/dinky-small.png') no-repeat left center;
  background-size: contain;
  transform: scaleX(-1);
}

.locked [contenteditable] {
  pointer-events: none;
}

.sidebar input.title {
  width: 100%;
  background-color: transparent;
  font-size: 1.5em;
  color: inherit;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-bottom-width: 3px;
  border-radius: 4px;
  background-color: var(--textarea-color);
}

.sidebar input.title::placeholder {
  color: var(--text-dim-color);
}

.locked .sidebar input.title {
  background-color: transparent;
  border-color: transparent;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.sidebar h3 {
  width: 100%;
  overflow: auto;
}

.sidebar details {
  transition: .3s;
  width: 100%;
}

.sidebar details summary {
  user-select: none;
  color: var(--secondary-text-color);
  cursor: pointer;
  font-size: 0.8em;
  margin-bottom: 1em;
}

.sidebar details ul {
  padding-left: 0.6em;
  text-indent: -0.2em;
  margin: 0;
}

.sidebar details li {
  list-style: none;
}

.sidebar details a {
  display: block;
  width: 100%;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  margin: -3px 0;
  transition: background-color 0.2s;
  border-radius: 4px;
  background-color: transparent;
}

.sidebar details a:hover {
  background-color: var(--panel-hover-color);
}

.instructions {
  color: var(--secondary-text-color);
}

.instructions:hover {
  color: var(--text-color);
}

.locked .sidebar .instructions {
  display: none;
}

.sidebar footer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
