:root {
  --background-color: #fff;
  --text-color: #000;
  --link-color: #A52A2A;
  --link-hover-color: #CD5C5C;
  --hover-color: #aaf;
  --point-color: #faa;
  --panel-color: #eee;
  --edge-color: #aaf;
  --edge-hover-color: #f00;
  --border-color: #aaa;
  --textarea-color: #fff;
  --text-dim-color: #aaa;
  --text-node-color: #000;
  --shadow-color: #ddd;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: #999;
    --text-color: #fff;
    --hover-color: #aaf;
    --point-color: #faa;
    --panel-color: #444;
    --edge-color: #444;
    --edge-hover-color: #aaf;
    --border-color: #555;
    --textarea-color: #444;
    --text-dim-color: #aaa;
    --text-node-color: #000;
    --shadow-color: transparent;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow: hidden;
  overscroll-behavior: none;
  background-color: var(--background-color);
  color: var(--text-color);
}

* {
  box-sizing: border-box;
}

a {
  color: var(--link-color);
}

a:hover {
  color: var(--link-hover-color);
}

#app {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
}

.node {
  position: absolute;
  border-radius: 4px;
  border: 1px solid var(--border-color);
  transition: border-color 0.2s;
  color: var(--text-node-color);
  box-shadow: 1px 1px var(--shadow-color);
}

.node:active {
  border-color: var(--hover-color);
}

.node iframe {
  width: 100%;
  height: 100%;
  border: none;
  max-width: 30vw;
  max-height: 80vh;
}

.node button {
  margin-left: -8px;
  border: none;
  background-color: var(--point-color);
  transition: background-color 0.2s;
}

.node button:hover {
  background-color: var(--hover-color);
}

.node [contenteditable] {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 2;
}

.locked .resize-handle {
  display: none;
}

.resize-handle:after,
.resize-handle div {
  position: absolute;
  z-index: 3;
}

.resize-handle:after {
  content: '';
  z-index: 4;
  bottom: 0;
  right: 0;
  width: 10px;
  height: 10px;
  background: linear-gradient(135deg, transparent 0%, transparent 50%, #999 50%, #999 100%);
  cursor: nwse-resize;
  border-radius: 0 0 2px 0;
}

/* Bottom line */
.resize-handle div:nth-child(1) {
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 10px;
  cursor: ns-resize;
}

/* Right line */
.resize-handle div:nth-child(2) {
  top: 0;
  right: -1px;
  width: 10px;
  height: 100%;
  cursor: ew-resize;
}

.node input[type="color"] {
  position: absolute;
  z-index: 3;
  top: -25px;
  right: 0;
  width: 50px;
  height: 20px;
  padding: 0;
  border: none;
  opacity: 0;
  transition: opacity 0.2s;
}

.node:hover input[type="color"] {
  opacity: 1;
}

.locked .node input[type="color"] {
  display: none;
}

.locked .node button {
  pointer-events: none;
}

svg {
  position: absolute;
  z-index: 2;
  pointer-events: none;
}

path {
  fill: none;
  stroke-width: 4px;
  pointer-events: all;
  cursor: pointer;
  opacity: 0.9;
  transition: stroke 0.2s;
  stroke: var(--edge-color);
}

path:hover {
  stroke: var(--edge-hover-color);
}

.locked path {
  pointer-events: none;
}

.drop {
  flex: 1;
  height: 100vh;
  overflow: auto;
  order: 1;
}

.pan {
  position: relative;
  width: 120vw;
  height: 170vh;
  background-size: 30px 30px;
  background-image: radial-gradient(circle, var(--panel-color) 1px, transparent 1px);
}

.sidebar {
  flex: 0 0 20vw;
  min-width: 230px;
  background-color: var(--panel-color);
  padding: 0 2rem;
  z-index: 3;
  height: 100vh;
  overflow-y: auto;
  transition: .3s;
  position: relative;
}

.sidebar.collapsed {
  flex: 0;
  min-width: 8px;
  padding: 0;
  overflow: hidden;
}

.sidebar .toggle-sidebar {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  border: none;
  border-left: 8px solid var(--panel-color);
  padding: 0;
  cursor: pointer;
  transition: border-left-color 0.2s;
}

.sidebar .toggle-sidebar:hover {
  border-left-color: var(--border-color);
}

.sidebar h1 {
  padding: 10px 0 0;
  display: flex;
  align-items: center;
  margin: 0 -9px;
  gap: 10px;
  line-height: 29px;
}

.sidebar h1:before {
  content: '';
  display: block;
  width: 100px;
  height: 100px;
  background: url('/dinky-small.png') no-repeat left center;
  background-size: contain;
  margin-top: -1px;
}

.sidebar [contenteditable] {
  border: 1px solid var(--border-color);
  background-color: var(--textarea-color);
  height: 300px;
  width: 100%;
  margin: 20px -10px;
  box-sizing: border-box;
  border-radius: 4px;
}

.sidebar [contenteditable]:empty::before {
  content: 'Notes';
  color: var(--text-dim-color);
}

.locked [contenteditable] {
  pointer-events: none;
}

.locked .sidebar [contenteditable] {
  background-color: transparent;
  border-color: transparent;
}

.sidebar h2 [contenteditable] {
  height: auto;
  background-color: transparent;
  box-sizing: content-box;
}

.sidebar h2 [contenteditable]:empty::before {
  content: 'Untitled flow';
  color: var(--text-dim-color);
}

.sidebar h3 {
  width: 100%;
  overflow: auto;
}

.sidebar details {
  margin-bottom: 100px;
}

.locked .sidebar details {
  display: none;
}

.sidebar footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  left: 0;
  padding: 20px;
  background-color: var(--panel-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
